<mat-card>
  <h1>Agregar nueva categoría</h1>
  <mat-card-content>
    <form (ngSubmit)="formSubmit()">
      <mat-form-field class="w100" appearance="outline">
        <mat-label>Titulo</mat-label>
        <input
          required
          autofocus
          type="text"
          name="titulo"
          matInput
          placeholder="Digite el título de la categoría"
          [(ngModel)]="category.tittle"
        />
      </mat-form-field>
      <mat-form-field class="w100" appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea
          name="descripcion"
          matInput
          placeholder="Digite la descripción de la categoría"
          rows="15"
          [(ngModel)]="category.description"
        >
        </textarea>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">Guardar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
