<mat-toolbar color="primary" class="navbar">
  <a [routerLink]="'/'" mat-button>
    <mat-icon>menu_books</mat-icon>
    <span>Portal de exámenes</span>
  </a>


  <span class="spacer"></span>

  <a
    *ngIf="!loginService.isLoggedIn()"
    [routerLink]="'/login'"
    mat-button
    class=""
  >
    Iniciar sesión
  </a>

  <a
    *ngIf="!loginService.isLoggedIn()"
    [routerLink]="'/signup'"
    class=""
    mat-button
  >
    Registrar
  </a>

  <a *ngIf="loginService.isLoggedIn()" (click)="logout()" mat-button class="">
    Cerrar sesión
  </a>
  <button *ngIf="loginService.isLoggedIn()" mat-button class="">
    {{ loginService.getUser().username }}
  </button>
</mat-toolbar>
