<mat-card>
  <h1>Agregar nuevo examen</h1>
  <mat-card-content>
    <form (ngSubmit)="saveExam()">
      <mat-form-field class="w100" appearance="outline">
        <mat-label>Título</mat-label>
        <input
          [(ngModel)]="examData.title"
          type="text"
          name="title"
          required
          placeholder="Digite el título"
          matInput
        />
      </mat-form-field>
      <mat-form-field class="w100" appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea
          [(ngModel)]="examData.description"
          type="text"
          name="descripcion"
          placeholder="Digite la descripción"
          matInput
          rows="8"
        ></textarea>
      </mat-form-field>

      <div>
        <div>
          <mat-form-field class="w100" appearance="outline">
            <mat-label>Puntos máximos</mat-label>
            <input
              [(ngModel)]="examData.maxPoints"
              type="text"
              name="puntosMaximos"
              placeholder="Digite la cantidad de puntos"
              matInput
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w100" appearance="outline">
            <mat-label>Número de preguntas</mat-label>
            <input
              [(ngModel)]="examData.numberOfQuestions"
              type="text"
              name="numeroDePreguntas"
              placeholder="Digite el número de preguntas"
              matInput
            />
          </mat-form-field>
        </div>
      </div>

      <mat-slide-toggle
        name="active"
        [(ngModel)]="examData.active"
        color="primary"
      >
        Estado de publicación
      </mat-slide-toggle>

      <br />

      <mat-form-field class="w100" appearance="outline">
        <mat-label>Categorías</mat-label>
        <mat-select name="categoria" [(ngModel)]="examData.category.id">
          <mat-option *ngFor="let c of categories" [value]="c.id">
            {{ c.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">Guardar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
