<div class="container">
  <div *ngIf="!isSend" class="content">
    <mat-card class="left-sidebar">
      <mat-card-content>
        <h2>Instrucciones</h2>
        <ul>
          <li>
            No actualice la página, de lo contrario obtendrá nuevas preguntas en
            este cuestionario
          </li>
          <li>No cambies las pestañas</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <div class="main">
      <mat-card *ngFor="let p of questions; let i = index">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>
              <h1>
                En curso <b>{{ questions[0].exam.title }}</b>
              </h1>
            </mat-card-title>
          </mat-card-header>
          <p>
            <b>{{ i + 1 }}) </b> <span [innerHTML]="p.content"></span>
          </p>
          <mat-divider></mat-divider>
          <div>
            <div>
              <input
                [(ngModel)]="p.givenAnswer"
                type="radio"
                [value]="p.option1"
                name="{{ i }}"
              />
              {{ p.option1 }}
            </div>
            <div>
              <input
                [(ngModel)]="p.givenAnswer"
                type="radio"
                [value]="p.option2"
                name="{{ i }}"
              />
              {{ p.option2 }}
            </div>
            <div>
              <input
                [(ngModel)]="p.givenAnswer"
                type="radio"
                [value]="p.option3"
                name="{{ i }}"
              />
              {{ p.option3 }}
            </div>
            <div>
              <input
                [(ngModel)]="p.givenAnswer"
                type="radio"
                [value]="p.option4"
                name="{{ i }}"
              />
              {{ p.option4 }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!--Progreso-->
    <mat-card class="right-sidebar">
      <mat-card-header>
        <mat-card-title> <h2>Temporizador</h2> </mat-card-title>
      </mat-card-header>
      <p>
        El cuestionario se enviará automáticamente cuando el temporizador llegue
        0:0
      </p>
      <mat-card-content>
        <h1>{{ getFormatTime() }}</h1>
        <mat-spinner
          mode="determinate"
          style="margin: auto"
          [value]="(timer / (this.questions?.length * 2 * 60)) * 100"
        ></mat-spinner>
        <br />
        <div>
          <button (click)="sendExam()" mat-raised-button color="primary">
            Enviar cuestionario
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="isSend">
    <mat-card class="main">
      <mat-card-header>
        <mat-card-title> <h1>Resultado de la prueba</h1> </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        <h2>Puntos conseguidos : {{ pointsAchieved }}</h2>
        <h2>Respuestas correctas : {{ correctAnswers }}</h2>
      </mat-card-content>
      <br />
      <mat-card-actions class="text-center">
        <button (click)="printPage()" mat-raised-button color="primary">
          Imprimir
        </button>
        <button
          mat-raised-button
          color="accent"
          [routerLink]="'/user-dashboard/0'"
        >
          Inicio
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
