<mat-card>
  <h1>Exámenes disponibles</h1>
  <div *ngFor="let e of exams">
    <mat-card-header>
      <div mat-card-avatar>
        <img src="../../../../assets/exam.png" style="height: 50px" />
      </div>
      <mat-card-title>
        {{ e.title }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ e.category.title }}
      </mat-card-subtitle>
      <p>{{ e.description }}</p>
    </mat-card-header>
    <br />
    <mat-card-content>
      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          [routerLink]="'/user-dashboard/instructions/' + e.id"
        >
          Empezar
        </button>
        <button mat-button color="accent">
          Preguntas : {{ e.numberOfQuestions }}
        </button>
        <button mat-button color="accent">P.M : {{ e.maxPoints }}</button>
      </mat-card-actions>
    </mat-card-content>
  </div>
  <div *ngIf="exams.length == 0">
    <h1>No hay exámenes en esta categoría</h1>
  </div>
</mat-card>
