<mat-card class="main">
    <h1>Detalles del perfil</h1>
    <mat-card-content>
      <div>
        <div>
          <div>
            <img
            src="https://www.unmc.edu/cihc/_images/faculty/default.jpg"
            alt="Profile picture">
  
            <h1>{{ user.name }} {{ user.lastname }}</h1>
          </div>
          <div>
            <div>
              <table>
                <tr>
                  <td>Nombre de usuario</td>
                  <td>{{ user.username }}</td>
                </tr>
                <tr>
                  <td>ID</td>
                  <td>{{ user.id }}</td>
                </tr>
                <tr>
                  <td>Teléfono</td>
                  <td>{{ user.phone }}</td>
                </tr>
                <tr>
                  <td>Rol</td>
                  <td>{{ user.authorities[0].authority }}</td>
                </tr>
                <tr>
                  <td>Estado</td>
                  <td>{{ user.enabled ? "Activo" : "No activo"}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <mat-card-actions class = "text-center">
        <button mat-raised-button color = "primary">Actualizar</button>
        <button mat-raised-button color = "accent">Compartir</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>