mat-card div {
  margin: 0 auto;
  max-width: 600px;
}
mat-card-content {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

img {
  border-radius: 150px;
  width: 200px;
}

mat-card-content div {
  width: 100%;
}

mat-card-content table {
  text-align: left;
}

mat-card-content h2 {
  text-align: left;
}

mat-card-actions {
  justify-content: space-around;
}

td {
  padding-right: 15px;
}

button {
  width: fit-content;
}
