<mat-card>
  <h1>Actualizar examen</h1>
  <mat-card-content>
    <form *ngIf="exam" (submit)="updateData()">
      <mat-form-field class="w100" appearance="outline">
        <mat-label>Título</mat-label>
        <input
          [(ngModel)]="exam.title"
          type="text"
          name="titulo"
          placeholder="Digite el título"
          required
          matInput
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea
          [(ngModel)]="exam.description"
          type="text"
          name="descripcion"
          placeholder="Digite la descripción"
          matInput
          rows="8"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Puntos máximos</mat-label>
        <input
          [(ngModel)]="exam.maxPoints"
          type="text"
          name="puntosMaximos"
          placeholder="Digite la cantidad de puntos"
          matInput
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número de preguntas</mat-label>
        <input
          [(ngModel)]="exam.numberOfQuestions"
          type="text"
          name="numeroDePreguntas"
          placeholder="Digite el número de preguntas"
          matInput
        />
      </mat-form-field>

      <mat-slide-toggle
        class="mt20"
        name="activo"
        [(ngModel)]="exam.active"
        color="primary"
      >
        Estado de publicación
      </mat-slide-toggle>

      <mat-form-field appearance="outline">
        <mat-label>Categorías</mat-label>
        <mat-select name="categoria" [(ngModel)]="exam.category.id">
          <mat-option *ngFor="let c of categories" [value]="c.id">
            {{ c.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">Guardar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
