mat-card div {
  margin: 0 auto;
  max-width: 600px;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-content: center;
}

mat-card-actions {
  justify-content: space-between;
  width: 100%;
}
button {
  width: fit-content;
}
