<mat-card>
  <div>
    <mat-card-header>
      <mat-card-title>
        Lea las instrucciones de esta página cuidadosamente
      </mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>Un paso más para ir</mat-card-subtitle>
    <mat-card-content class="ml30">
      <h1>{{ exam.title }}</h1>
      <p>{{ exam.description }}</p>
      <mat-divider></mat-divider>
      <br />
      <h1>Instrucciones importantes</h1>

      <p>Este cuestionario es solo para fines de práctica</p>
      <p>
        Tienes que enviar el cuestionario en
        <b>{{ exam.numberOfQuestions * 2 }} minutos</b>
      </p>
      <p>Puede intentar el cuestionario cualquier cantidad de veces</p>
      <p>
        Hay
        <b>{{ exam.maxPoints / exam.numberOfQuestions }} puntos por pregunta</b>
      </p>

      <mat-divider></mat-divider>
      <br />
      <h1>Intentos de la prueba</h1>
      <p>Presione el boton <b>Empezar</b> para iniciar el examen</p>
      <p>
        El tiempo comenzará en el momento en que haga click en el botón de
        inicio
      </p>
      <p>
        No puede reanudar este cuestionario si se interrumpe por algún motivo
      </p>
      <p>Desplácese hacia abajo para pasar a la siguiente pregunta</p>
      <p>
        Haga clic en el botón enviar cuestionario al finalizar el cuestionario
      </p>
      <p>
        El informe de la prueba se genera automáticamente en forma de copia PDF
      </p>
    </mat-card-content>
    <br />
    <mat-card-actions>
      <button (click)="startExam()" mat-raised-button color="primary">
        Comenzar prueba
      </button>
    </mat-card-actions>
  </div>
</mat-card>
