<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button routerLink="/admin" mat-list-item>
      <mat-icon matListItemIcon>home</mat-icon>Inicio
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon matListItemIcon>account_circle</mat-icon>Perfil
    </button>
    <button mat-list-item routerLink="/admin/categories">
      <mat-icon matListItemIcon>list</mat-icon>Categorías
    </button>
    <button mat-list-item routerLink="/admin/add-category">
      <mat-icon matListItemIcon>add_circle_outline</mat-icon>Agregar categoría
    </button>
    <button mat-list-item routerLink="/admin/exams">
      <mat-icon matListItemIcon>quiz</mat-icon>Cuestionarios
    </button>
    <button mat-list-item routerLink="/admin/add-exam">
      <mat-icon matListItemIcon>add</mat-icon>Agregar cuestionario
    </button>
    <button mat-list-item>
      <mat-icon matListItemIcon>logout</mat-icon>Salir
    </button>
  </mat-action-list>
</mat-card>
